// Custom
// @import "~swiper/dist/css/swiper.min.css";

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
@import "print";

// custom style
@import "loader";
@import "fonts";
@import "layout";
@import "plugins";
@import "sidebar";
@import "ch5-reboot";
@import "swiper";
@import "components";
@import "scrollbar";

// themes
@import "themes/mixins/ch5-buttons";
@import "themes/light-theme";
@import "themes/dark-theme";

//
@import "aisle/containers";
@import "aisle/button-containers"; 

@media only screen and (min-width: 1920px) and (max-width: 1920px){
    .uncc-logo{
        width: 528px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1260px) and (max-width: 1270px){
    .uncc-logo{
        width: 428px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
*{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
//Aisle Tp Pages
.ailse-page{
    height: 100vh;
}
// Aisle Standard Button Style.
.ch5-button{
    background-color: rgb(218, 218, 166);
    color:black;
    font-size: 200%;
    border:4px black solid;
    white-space: pre;

    &.ch5-button--selected{
        border: 4px black solid;
        background-color: rgb(0,112,60);
        color:white;
    }

    &.ch5-button--pressed{
        border: 4px black solid;
        background-color: rgb(0,112,60);
        color:white;
        font-size:190%;
    }
}
.ch5-button--label{
    font-weight:bolder;
}
// Page Header Information
.heading{
    border-bottom:3px solid black;
    margin-bottom: 2%;
    height:6%;
    font-size:250%;
    #date{
        float:left;
        height: 3%;
        width: 28%;
        margin-left: 2%;
        text-align:left;
    }
    #time{
        float:left;
        height: 3%;
        margin-right: 2%;
        width: 28%;
        text-align:right;
    }
    #room{
        float:left;
        height: 3%;
        width: 40%;
        text-align: center;
    }
    label{
        font-weight: bold;
    }
}
.volume-cells{
    width:100%;
    height:4.145%;
    border: 1px black solid;
    background-color:transparent;
    outline-offset: .5%;
}
#lamp-hours{
    width:94.2%;
    height:17.12%; 
    margin: 0 auto;
    background-color: rgb(218, 218, 166);
    border:4px black solid;
    font-size:250%;
    font-weight:bolder;
    color:black;
    text-align: center;
    vertical-align: middle;
    label{
        background-color: transparent;
    }
}

// Line break at the bottome of the page
#line-break{
    border-bottom: 3px solid black;
    float:left;
    width:100%;
    height:2%;
    margin-bottom:0.4%;
}