<section class="ailse-page">
     <!--Source Buttons-->
     <section class="btn-section">
        <div class="break"></div>
        <div class="source-btn-container">
            <ch5-button id="niner-net-btn" sendeventontouch="90" sendeventonclick="90" receivestateselected="90" label="NinerNet Pc" shape="rectangle" stretch="both"></ch5-button>
        </div>
        <div class="break"></div>
        <div class="source-btn-container">
            <ch5-button id="mac-mini-btn" sendeventontouch="91" sendeventonclick="91" receivestateselected="91" label="Mac Mini" shape="rectangle" stretch="both"></ch5-button>
        </div>
        <div class="break"></div>
        <div class="source-btn-container">
            <ch5-button id="laptop-btn" sendeventontouch="92" sendeventonclick="92" receivestateselected="92" label="Laptop" shape="rectangle" stretch="both"></ch5-button>
        </div>
        <div class="break"></div>
        <div class="source-btn-container">
            <ch5-button id="doc-cam-btn" sendeventontouch="94" sendeventonclick="94" receivestateselected="94" label="Doc Cam"shape="rectangle" stretch="both"></ch5-button>
        </div>
        <div class="break"></div>
        <div class="source-btn-container">
            <ch5-button id="blu-ray-btn" sendeventontouch="104" sendeventonclick="104" receivestateselected="104" label="BluRay"shape="rectangle" stretch="both"></ch5-button>
        </div>
    </section>

    <!--UNCC Image-->
    <section class="img-container">
        <ch5-image customclass="uncc-logo" url="./assets/img/uncc-log2.png"> </ch5-image>
    </section>

    <!--Audio Buttons-->
    <section class="btn-section">
        <div class="break"></div>
        <section id="volume-section">
            <section id="volume-btn-section">
                <div class="volume-btn-container">
                    <ch5-button id="vol-up-btn" sendeventontouch="60" sendeventonclick="60" label="Volume Up"shape="rectangle" stretch="both"></ch5-button>
                </div>
                <div class="break"></div>
                <div class="volume-btn-container">
                    <ch5-button id="vol-mute-btn" sendeventontouch="61" sendeventonclick="61" label="Mute"shape="rectangle" stretch="both"></ch5-button>
                </div>
                <div class="break"></div>
                <div class="volume-btn-container">
                    <ch5-button id="vol-down-btn" sendeventontouch="62" sendeventonclick="62" label="Volume Down"shape="rectangle" stretch="both"></ch5-button>
                </div>
            </section>
            <section class="volume-bar-section">
                <ch5-background receivestatecustomstyle="2" customstyle="background:linear-gradient(to top, rgb(0,112,60) 100%, white 0%)">
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                    <div class="volume-cells"></div>
                    <div class="break"></div>
                </ch5-background>
            </section>
        </section>
        <div class="mic-btn-container">
            <ch5-button id="mic-btn" label="Podium Microphone"shape="rectangle" stretch="both"></ch5-button>
        </div>
        <div class="break"></div>
        <div class="mutevideo-btn-container">
            <ch5-button id="mutevideo-btn" label="Mute Video"shape="rectangle" stretch="both"></ch5-button>
        </div>
    </section>
    
    <!--Footer Buttons-->
    <div id="line-break"></div>
    <footer class="footer-btn-container">
        <div class="help-btn-container">
            <ch5-button customclass="help-btn" label="System Help"shape="rectangle" stretch="both"></ch5-button>
        </div>
        <div class="endclass-btn-container">
            <ch5-button id="end-class-btn" label="End Class"shape="rectangle" stretch="both"></ch5-button>
        </div>
        <div class="systemtools-btn-container">
            <ch5-button id="system-tool-btn" label="System Tools"shape="rectangle" stretch="both"></ch5-button>
        </div>
    </footer>
</section>