<section class="ailse-page">
    <!--Source Buttons-->
    <section class="btn-section">
       <div class="break"></div>
       <div class="projector-btn-container">
           <ch5-button sendeventontouch="90" sendeventonclick="90" receivestateselected="90" label="On" shape="rectangle" stretch="both"></ch5-button>
       </div>
       <div class="break"></div>
       <div class="projector-btn-container">
           <ch5-button sendeventontouch="91" sendeventonclick="91" receivestateselected="91" label="Off" shape="rectangle" stretch="both"></ch5-button>
       </div>
       <div class="break"></div>
       <div class="projector-btn-container">
           <ch5-button sendeventontouch="92" sendeventonclick="92" receivestateselected="92" label="Mute Video" shape="rectangle" stretch="both"></ch5-button>
       </div>
       <div class="break"></div>
       <div id="lamp-hours">
           Lamp Hours<br>0
       </div>
   </section>

   <!--UNCC Image-->
   <section class="img-container">
       <ch5-image customclass="uncc-logo" url="./assets/img/uncc-log2.png"> </ch5-image>
   </section>

   <!--Audio Buttons-->
   <section class="btn-section">
       <div class="break"></div>
       <div class="screen-btn">
           <ch5-button label="Screen Up"shape="rectangle" stretch="both"></ch5-button>
       </div>
       <div class="break"></div>
       <div class="screen-btn">
           <ch5-button label="Screen Down"shape="rectangle" stretch="both"></ch5-button>
       </div>
   </section>
   
   <!--Footer Buttons-->
   <div id="line-break"></div>
   <footer class="footer-btn-container">
       <div class="logoff-btn-container">
           <ch5-button id="logoff-btn" label="Logoff/Unlock" iconposition="bottom" label="asdf"shape="rectangle" stretch="both"></ch5-button>
       </div>
       <div class="endclass-btn-container">
           <ch5-button label="End Class"shape="rectangle" stretch="both"></ch5-button>
       </div>
       <div class="return-btn-container">
           <ch5-button label="Return to Main Menu"shape="rectangle" stretch="both"></ch5-button>
       </div>
   </footer>
</section>