.source-btn-container, .projector-btn-container, .mutevideo-btn-container, .mic-btn-container, .screen-btn{
    width:94.2%;
    height:17.12%; 
    margin: 0 auto;
}
.volume-btn-container{
    width:100%;
    height:29.09%; 
}  
.help-btn-container, .logoff-btn-container{
    width:23.06%;
    height:46.3%; 
    float:left;
    margin-left: 0.8%;
    .help-btn{
        background-color: rgb(123,0,0);
        color:white;
    }
}
.endclass-btn-container{
    width:23.06%;
    height:46.3%; 
    float:left;
    margin-left:14.61%;
    margin-right:14.61%;
}
.systemtools-btn-container, .return-btn-container{
    width:23.06%;
    height:46.3%; 
    float:left;
}