// Container that holds the UNCC image
.img-container{
    vertical-align: top;
    float:left;
    margin-top: 4%;
    width: 48%;
}
// Container that will hold our button Divs
.btn-section{
    float:left;
    position:relative;
    margin-left:1%;
    margin-right:1%;
    width: 24%; 
    height: 73%;
    outline: 6px black solid;
    >.break{
        height:2.5%;
    }
}
// Container that will hold our all of our volume components.
#volume-section{
    width: 100%; 
    height: 58.86%;
    margin-left: 2.9%;
}
// Container that will hold our volume button divs.
#volume-btn-section{
        
    width: 80%; 
    height: 100%;
    float:left;
    .break{
        height:4.25%;
    }
}
// container for the custom volume bar.
.volume-bar-section{
    float:left;
    width:10%;
    height:88%;
    margin-top:4%;
    margin-left:3%;
    .break{
        width:100%;
        height:.9%;
    }            
}  
// Container that will hold our footer buttons divs.
.footer-btn-container{
    float:left;
    position:relative;
    width: 98%; 
    height: 27%;
    margin-left:1%;
    margin-right:1%;
}